Assignment1

Create a list of different data fields and use appropriate Python data types to represent each of them. (Case study: - You are required to design the data structure to display the individual player stats for cricket players. A player may have represented more than one team and may have played in more than one format such as Test, ODI and T20)

Team1 Batting Scores

In [2]:
import pandas as pd
print("Enter No.of batsmen played")
No = int(input())
team1_batting = {}
print("Enter Name, runs scored, Balls faced, Sixers , Fours, Strike Rate respectively ")
for i in range (0 ,No):
  name = str(input("Name:"))
  score = []
  runs = int(input("Runs Scored:"))
  score.append(runs)

  ball_faced = int(input("Ball faced:"))
  score.append(ball_faced)

  six = int(input("Sixers:"))
  score.append(six)

  fours = int(input("Fours:"))
  score.append(fours)

  st_rate = float(input("Strike Rate"))
  score.append(st_rate)

  team1_batting[name] = score  ;

#print(team1_batting)
df = pd.DataFrame(team1_batting , index= ['Runs','Balls_Faced' , 'Sixers','Fours','Strike_Rate'])
df1=df.transpose()
df1

Enter No.of batsmen played

 2

Enter Name, runs scored, Balls faced, Sixers , Fours, Strike Rate respectively

Name: Rohit Sharma
Runs Scored: 80
Ball faced: 50
Sixers: 5
Fours: 5
Strike Rate 160
Name: Virat Kohli
Runs Scored: 57
Ball faced: 23
Sixers: 5
Fours: 3
Strike Rate 248

              Runs  Balls_Faced  Sixers  Fours  Strike_Rate
Rohit Sharma  80.0         50.0     5.0    5.0        160.0
Virat Kohli   57.0         23.0     5.0    3.0        248.0