In [1]:
 #Q.1> Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.
import pandas as pd 
data = [4, 8, 15, 16, 23, 42]
df = pd.DataFrame(data)
print(df)

    0
0   4
1   8
2  15
3  16
4  23
5  42

In [3]:
#Q.2> Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
#     variable print it.
import pandas as pd 
data =  ["sagar" , "aman" , "abhishek" , "atul" , "ritik" , "animash" ]
df = pd.DataFrame(data)
print(df)

          0
0     sagar
1      aman
2  abhishek
3      atul
4     ritik
5   animash

In [4]:
#Q.3> Create a Pandas DataFrame that contains the following data:
#     Then, print the DataFrame.
import pandas as pd 
data = {'Name': ['Alice' ,  'Bob' ,  'Claire'],

        'Age': [25, 30, 27],

        'Gender': ['Female', 'Male', 'Female']}
df = pd.DataFrame(data)
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [5]:
##Q.4> What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.
# Ans>  In Pandas, a DataFrame is a two-dimensional labeled data structure with columns of potentially 
#        different data types. It is similar to a spreadsheet  or a  SQL table. In a DataFrame , data is 
#        organized in rows and columns, where each column can be considered as a Pandas Series.
#
#        On the other hand, a Series in Pandas is a one-dimensional labeled array that can contain data of any 
#       data type, including integers, strings, and floating-point numbers. It is similar to a column in a 
#      spreadsheet or a SQL table.
#
#         The main difference between a DataFrame and a Series is that a DataFrame is a two-dimensional data 
#         structure with rows and columns, while a Series is a one-dimensional data structure with only one column.
#         Here's an example to illustrate the difference between a DataFrame and a Series:

#         Suppose we have the following data:
#         Name(Alice , Bob, Charlie) , Age(25, 3, 35) , Gender (Female,Male ,Male)
#         We can represent this data using a DataFrame in Pandas as follows:'''
import pandas as pd

data = {'Name': ['Alice', 'Bob', 'Charlie'],
        'Age': [25, 30, 35],
        'Gender': ['Female', 'Male', 'Male']}

df = pd.DataFrame(data)

print(df)

      Name  Age  Gender
0    Alice   25  Female
1      Bob   30    Male
2  Charlie   35    Male